<div>
  Name: {{starship.name}} 
  <br/>
  Model: {{starship.model}} 
  <br/>
  Manufacturer: {{starship.manufacturer}}
  <br/>
  Length: {{starship.length}}
  <br/>
  Max Atmosphering Speed: {{starship.max_atmosphering_speed}}
  <br/>
  Cargo Capacity: {{starship.cargo_capacity}}
  <br/>
  Passengers: {{starship.passengers}}
  <br/>
  Starship Class: {{starship.starship_class}}
  <br/>
  Cost: {{starship.cost_in_credits}}
  <br/>
  MGLT: {{starship.MGLT}}
</div>
<button ui-sref='starships'>Back to Starships</button>